# Node modules
node_modules/

# Build output
dist/
dist-react/
dist-backend/

# Compiled TypeScript output (backend)
main.js
src/**/*.js
!src/**/*.config.js

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Env files
.env

.vscode/
.github/
*.md
test*