.container {
  padding: 20px;
}

.title {
  color: white;
  margin-bottom: 20px;
  font-size: 22px;
}

.section {
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  scroll-margin-top: 80px;
}

.sectionLast {
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 8px;
  scroll-margin-top: 80px;
}
